In [265]:
import pandas as pd
import numpy as np

In [266]:
movies_df = pd.read_csv('input/small_dataset/movies.csv')
movies_df
movies_df.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [267]:
#movies_df.rename(columns={'id': 'movieId'}, inplace=True)
movies_df = movies_df[['movieId', 'title']]
movies_df

      movieId                                      title
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 2 columns]

In [268]:
ratings_df = pd.read_csv('input/small_dataset/ratings.csv')
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [269]:
final_dataset = ratings_df.pivot(index='movieId', columns='userId', values='rating')
final_dataset

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,4.0,NaN,4.5,NaN,NaN,NaN,...,4.0,NaN,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,NaN,NaN,...,NaN,4.0,NaN,5.0,3.5,NaN,NaN,2.0,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [270]:
#Data pre-processing
final_dataset.fillna(0, inplace=True)
final_dataset

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [271]:
#Finding number of ratings each movie has
no_ratings_per_movie = ratings_df.groupby('movieId')['rating'].agg('count')
no_ratings_per_movie

movieId
1         215
2         110
3          52
4           7
5          49
         ...
193581      1
193583      1
193585      1
193587      1
193609      1
Name: rating, Length: 9724, dtype: int64

In [272]:
#finding number of movies each user rated
no_movies_voted_per_user = ratings_df.groupby('userId')['rating'].agg('count')
no_movies_voted_per_user

userId
1       232
2        29
3        39
4       216
5        44
       ...
606    1115
607     187
608     831
609      37
610    1302
Name: rating, Length: 610, dtype: int64

In [273]:
#In order to filter out the noise, we are interested only in 

#1) users who have rated more than 50 movies
final_dataset = final_dataset.loc[:,no_movies_voted_per_user[no_movies_voted_per_user > 50].index]

#2) movies who have been rated by more than 10 users
final_dataset = final_dataset.loc[no_ratings_per_movie[no_ratings_per_movie > 10].index,:]

final_dataset

userId,1,4,6,7,10,11,15,16,17,18,...,600,601,602,603,604,605,606,607,608,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,4.5,0.0,0.0,2.5,0.0,4.5,3.5,...,2.5,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,5.0
2,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,4.0,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0
3,4.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
5,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.5,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
6,4.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0,0.0,4.0,...,0.0,0.0,3.0,4.0,3.0,0.0,0.0,0.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174055,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
176371,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
179819,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
187593,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [274]:
from sklearn.neighbors import NearestNeighbors

In [275]:
#train model
knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=1)
knn.fit(final_dataset)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=1, n_neighbors=20)

In [276]:
def get_movies_similar_to(movie_name):
    n = 20
    
    
    
#get_movies_similar_to('test')

n = 20
filter = movies_df['title'].str.contains('Iron Man')
#list of movies which contain movie_name in their name
movie_list = movies_df[filter]

#get index of movie_name
movie_idx = movie_list.iloc[0]['movieId']
#movie_idx

#distances , indices = knn.kneighbors(csr_data[movie_idx],n_neighbors=n_movies_to_reccomend+1)

In [294]:
from scipy.sparse import csr_matrix
csr_data = csr_matrix(final_dataset.values)
print(csr_data.size)
print(movie_idx)
#csr_data[movie_idx]

values = final_dataset.loc[movie_idx].reset_index()
values.T

72893
59315

,0,1,2,3,4,5,6,7,8,9,...,368,369,370,371,372,373,374,375,376,377
userId,1.0,4.0,6.0,7.0,10.0,11.0,15.0,16.0,17.0,18.0,...,600.0,601.0,602.0,603.0,604.0,605.0,606.0,607.0,608.0,610.0
59315,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,4.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

In [295]:
distances,indices = knn.kneighbors(values.T,n_neighbors=n+1)

print(distances)
print(indices)

[[2.94277459e-01 3.32967015e-01 3.35885849e-01 3.36246158e-01
  3.45114241e-01 3.75662986e-01 3.81340376e-01 3.85892865e-01
  3.96469915e-01 4.04471329e-01 4.05464257e-01 4.10655086e-01
  4.13427634e-01 4.14782623e-01 4.16254340e-01 4.16705608e-01
  4.28831301e-01 4.32463916e-01 4.33359314e-01 4.38145122e-01
  4.40384833e-01]
 [1.11022302e-16 2.85319425e-01 2.85834801e-01 2.98137759e-01
  3.07491558e-01 3.10893262e-01 3.62758975e-01 3.66029405e-01
  3.68558318e-01 3.68757742e-01 3.68856912e-01 3.69174575e-01
  3.73687056e-01 3.77903686e-01 3.81040673e-01 3.88249183e-01
  3.92742635e-01 3.94349998e-01 3.98236662e-01 4.11895357e-01
  4.12677904e-01]]
[[ 169  901  141  151  266  124  217 1002   56  954  263  978    0 1362
   238  442  210 1536  454  173 1443]
 [1821 1961 1816 1830 1907 1896 1650 1870 1835 2060 1873 1912 1827 1883
  1897 1948 1768 1942 1712 1484 1646]]